---
layout: default
title: Deepak's blog
description: I'm a serial enterpreneur currently working on rocketlane.com. Before I started this company, I sold my previous one to Freshworks in 2015. I write about my current journey; what I'm learning everyday; market outlook; and Saas.
featured_image: /images/demo/home.jpg
---

<section >
	<div class="wrap">

		<h1>Deepak's blog</h1>
        <p>I'm a serial enterpreneur currently working on <a href="https://rocketlane.com" target="_blank">rocketlane.com</a>. Before I started this company, <a href="https://www.freshworks.com/press-release/freshdesk-acquires-konotor/">I sold my previous one to Freshworks</a> in 2015. I write about my current journey; what I'm learning everyday; and Saas.</p>
        
        <p> If you'd like to startup one day or would like to know how one works, you should <a href="/blog">read the blog</a></p>

		{% include socials.html %}
	</div>

</section>

<!--
<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
-->